.form-search .btn-search {
    float: right;
}

.form-search input {
    width: 80%;
    float: left;
}

.modal-body {
    padding: 20px 30px;
}

.box-error {
    border-color: #f21313;
}

.error {
    color: #f21313;
}
